.home-banner {
  background-image: url('https://bonzeruk.files.wordpress.com/2015/12/cocktail-james-bond-vesper.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}
